# Venture Funding with Deep Learning


This application creates a model that predicts whether applicants will be successful if funded by the Company. This model will be built using machine learning and neural networks. The Company provided a dataset that contains more than 34,000 organizations that have received funding from the Company over the years.


### Prepare the Data for Use on a Neural Network Model 

In this section, we will preprocess the dataset so that we can use it to compile and evaluate the neural network model later.


### Compile and Evaluate a Binary Classification Model Using a Neural Network

In this section, we will use TensorFlow to design a binary classification deep neural network model. This model will use the dataset’s features to predict whether a startup will be successful based on the features in the dataset. Then, we will compile and fit the model. Finally, we will evaluate the binary classification model to calculate the model’s loss and accuracy. 
 
 
### Optimize the Neural Network Model

In this section, we will use TensorFlow and Keras to try to optimize the model to improve the model's accuracy.

In [13]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

In [14]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (1).csv

In [4]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [6]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.iloc[:,2:12]

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE','AFFILIATION', 'CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [9]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [10]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [17]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame

encoded_df = pd.concat([applicant_data_df.loc[:,['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']],encoded_df], axis = 1)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [18]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [19]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"]).copy()


# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [20]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [21]:
# Create a StandardScaler instance and fit the scaler to the features training dataset
scaler = StandardScaler()
scaler.fit(X_train)
# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

In [59]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [60]:
X_train.iloc[0]

STATUS                         1.0
ASK_AMT                     5000.0
APPLICATION_TYPE_T10           0.0
APPLICATION_TYPE_T12           0.0
APPLICATION_TYPE_T13           0.0
                             ...
INCOME_AMT_25000-99999         0.0
INCOME_AMT_50M+                0.0
INCOME_AMT_5M-10M              0.0
SPECIAL_CONSIDERATIONS_N       1.0
SPECIAL_CONSIDERATIONS_Y       0.0
Name: 10679, Length: 116, dtype: float64

In [61]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [62]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  18

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

18

In [63]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  9

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

9

In [64]:
# Create the Sequential model instance
nn = Sequential()

In [65]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [54]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [66]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [67]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 18)                2106

 dense_10 (Dense)            (None, 1)                 19

=================================================================
Total params: 2,125
Trainable params: 2,125
Non-trainable params: 0
_________________________________________________________________

In [68]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [69]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6203 - accuracy: 0.6940
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5643 - accuracy: 0.7259
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7282
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5522 - accuracy: 0.7299
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7301
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5504 - accuracy: 0.7300
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7318
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7306
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7318
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7306
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7311
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7311
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7326
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7318
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7319
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7312
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7321
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7321
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7313
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7326
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7330
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7334
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7327
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7331
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7330
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7331
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7323
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7338
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7331
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7333
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7338
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5423 - accuracy: 0.7338
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5421 - accuracy: 0.7339
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7335
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7347
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7346
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7346
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7346
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7341
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7351
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7351
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7344
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7346
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7354
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7342
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7338
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7356
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7363
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7346
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7348

In [70]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5548 - accuracy: 0.7310 - 409ms/epoch - 2ms/step
Loss: 0.5547521710395813, Accuracy: 0.7309620976448059

In [71]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save_weights(file_path)

---

## Optimize the neural network model

### Alternative Model 1

In [72]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [79]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [80]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 25

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

25

In [81]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [82]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 25)                2925

 dense_14 (Dense)            (None, 1)                 26

=================================================================
Total params: 2,951
Trainable params: 2,951
Non-trainable params: 0
_________________________________________________________________

In [83]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [84]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6272 - accuracy: 0.7050
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5627 - accuracy: 0.7288
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5551 - accuracy: 0.7287
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7289
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7301
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7311
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7306
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7319
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7322
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7323
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7319
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7331
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7327
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7326
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7337
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7335
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7325
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7338
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7342
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7329
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7334
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7339
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7352
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7339
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7340
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7348
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7347
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7348
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7352
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7354
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7355
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7349
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7354
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7352
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7350
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7355
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7353
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7357
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7360
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7356
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7358
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7359
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7360
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7364
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7357
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7368
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7366
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7363
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7362
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7360

#### Alternative Model 2

In [85]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [86]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [87]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 50

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

50

In [88]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [89]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))


# Check the structure of the model
nn_A2.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 25)                2925

 dense_16 (Dense)            (None, 1)                 26

=================================================================
Total params: 2,951
Trainable params: 2,951
Non-trainable params: 0
_________________________________________________________________

In [90]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [91]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6086 - accuracy: 0.7057
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5621 - accuracy: 0.7268
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5540 - accuracy: 0.7302
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7305
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7305
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7306
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7313
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7316
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7317
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7322
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7326
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7319
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7325
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7314
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7331
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7333
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7332
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7332
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7339
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7331
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7339
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7346
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7336
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7351
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7344
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7351
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7337
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7350
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7354
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7346
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7350
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7345
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7356
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7364
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7355
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7356
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7362
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7359
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7356
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7370
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7352
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7372
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7367
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7369
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7362
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7357
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7363
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7368
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7368
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7362

## Models comparison and results

In [92]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5548 - accuracy: 0.7310 - 340ms/epoch - 1ms/step
Loss: 0.5547521710395813, Accuracy: 0.7309620976448059

In [93]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5533 - accuracy: 0.7301 - 423ms/epoch - 2ms/step
Loss: 0.5532920360565186, Accuracy: 0.7301457524299622

In [95]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5606 - accuracy: 0.7314 - 305ms/epoch - 1ms/step
Loss: 0.5606128573417664, Accuracy: 0.7314285635948181

In [96]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save_weights(file_path)

In [97]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save_weights(file_path)

**When we compare the accuracy of the models, we noticed a slight improvement in the alternative model 2, which at the same time, only has one layer of hidden nodes, therefore we will recommend using the alternative model 2.**